body {
	background: #b9b3b3;
}

#grid {
	height:320px;
	width:320px;
	padding:10px;
	border: 4px solid black;
	background: black;
}

.blank {
	background: none !important;
	transition: 0.3s ease;
	float:left;
	height:30px !important;
	width:30px !important;
	margin:10px;
}

.tile {
	background: #91eabd;
	position: relative;
	transition: 0.3s ease;
	float:left;
	height:30px;
	width:30px;
	margin:10px;
	font-size: 30px;
	font-family: verdana;
	padding:28px;
}

.tile:hover {
	cursor: pointer;
}

#btn_solve {
	font-size:20px;
	font-family:verdana;
	width:180px;
	padding:10px;
	border: 5px solid black;
	border-radius:10px;
	background: #91eabd;
	transition:0.5s ease;
}

#btn_solve:active,#btn_solve:hover{
	background:black;
	color:#91eabd;
	cursor:pointer;
}

#btn_solve:active {
	transform:scale(0.95);
}